{% extends "base.html" %}

{% block title %}Master Of CPBL{% endblock %}

{% block main %}

  <div class="jumbotron" style="margin: 10em auto">
    <h1><i class="fas fa-piggy-bank"></i>
中華職棒對戰 Machine Learning Model</h1>
    <p>透過機器學習模型，預測當晚比賽之勝隊為何，純屬娛樂性質！
      簡述過程將利用crawler爬取欲預測比賽之先發陣容與對戰成績，並搭配球員之近況納入考量。
    </p>
  </div>
  <h6>(預測的重要資訊為球隊與球員近況,新賽季須於開季超過一個月才可使用)</h6>

<div class="card-group">
  <div class="card">
    <img src="{{ url_for('static', filename='img/ball1.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">CPBL勝負預測</h5>
      <p class="card-text">將提供主場球隊獲勝機率的預測結果。</p>
      <p class="card-text">當天雙方先發陣容為預測所需之重點資訊，先發陣容公佈時間為賽前一個小時以內，故預測之可使用時間為賽前一小時內，否則將報誤。</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">需於賽前時間小於一小時內使用</small>
    </div>
  </div>
  <div class="card">
    <img src="{{ url_for('static', filename='img/ball2.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">CPBL比分預測</h5>
      <p class="card-text">將提供主場球隊勝負分的預測結果。</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">請於賽前時間小於一小時內使用</small>
    </div>
  </div>
  <div class="card">
    <img src="{{ url_for('static', filename='img/ball3.jpg') }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">近期數據呈現</h5>
      <p class="card-text">簡單呈現近期球隊之對戰成績，更多內容將於未來進行開發。</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Any time</small>
    </div>
  </div>
</div>

{% endblock %}
